{{ define "templetes/layout/html/footer" }}

    <!-- Begin Footer
================================================== -->
    <div class="footer">
        <p class="pull-left">
            Copyright &copy; 2023 Your {{ .APP_NAME}}
        </p>
        <p class="pull-right">
            blogtemp Theme by <a target="_blank" href="https://www.mpanoakim.netlify.com">mpanoakim.netlfy.com</a>
        </p>
        <div class="clearfix">
        </div>
    </div>
    <!-- End Footer
    ================================================== -->
    </div>
    <!-- /.container -->

{{ end }}